---
title: "Towards Querying in Decentralized Environments<br />with Privacy-Preserving Aggregation"
---
<header markdown="1">
# <%= @item[:title] %>

{:#authors}
- <%= person 'Ruben Taelman', 'http://www.rubensworks.net/', 'http://www.rubensworks.net/#me' %>[<sup>1</sup>](#idlab)
- <%= person 'Sabrina Kirrane', 'http://sabrinakirrane.com', '#' %>[<sup>2</sup>](#wu)
- <%= person 'Sabrina Kirrane', 'http://sabrinakirrane.com', '#' %>[<sup>2</sup>](#wu)

{:#affiliations}
- {:#idlab} <sup>1</sup>IDLab,
            Department of Electronics and Information Systems,
            Ghent University – imec,
            {firstname.lastname}@ugent.be
- {:#wu}   <sup>2</sup>Vienna University of Economics and Business,
            Vienna, Austria,
            {firstname.lastname}@wu.ac.at
- {:#wu}   <sup>2</sup>Vienna University of Economics and Business,
            Vienna, Austria,
            {firstname.lastname}@wu.ac.at

</header>

<!-- Hack to make our custom fonts load in print-mode -->
<!-- https://stackoverflow.com/questions/39364259/chrome-print-preview-doesnt-load-media-only-print-font-face -->
<span class='printfont1'> </span>
<span class='printfont2'> </span>
<span class='printfont3'> </span>
<span class='printfont4'> </span>

<div class="double-column">

<%= section 'abstract' %>

<main>
  <!-- Add sections by specifying their file name, excluding the '.md' suffix. -->
  <%= section 'introduction' %>
  <%= section 'related-work' %>
  <%= section 'use-case' %>
  <%= section 'framework' %>
  <%= section 'solution' %>
  <%= section 'evaluation' %>
  <%= section 'conclusions' %>
</main>

<footer></footer>

</div>
